.group-list > div{
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 10px;
}
.list-item > div{
    border: 1px solid black;
}
.group-page {
    margin: 20px;
}
#group-link{
    color: teal;
    text-decoration: underline;
}
#event-link{
    color: grey;

}
img{
    max-width: 150px;
}
.img{
    display: flexbox;
    align-content: right;
}
.name{
    grid-row: 1;
}
.description{
    grid-row: 2;
    overflow-wrap: break-word;
    max-width: 500px;
}
.location{
    grid-row: 3;
}
.details{
    grid-row: 4;
}
.main{
    display: grid;
    grid-template-columns: 1fr, 2fr;
}
.sub{
    grid-column: 2;
    right: 5px;
    display:grid;
    grid-template-rows: repeat(5, auto);
}
