#greeting-page{
    display: grid;
    grid-template-rows: 200px 50px 150px 30px;
    grid-template-columns: 50% 50%;

    align-items: center;
}
#b > img{
    width: 500px
}
#a{
    font-size: 30px;
    width: 260px;
    text-overflow: wrap;
    display: flexbox;
    grid-row: 1;
    justify-self: end;
    align-content: right;
}
#b{
    grid-row: 1;

}
#c{
    grid-row: 2;
    grid-column: span 2;
    justify-self: center;
    display: flexbox;
    justify-content: center;
    text-align: center;
}

#ca{
    display: flexbox;
    font-size: 20px;

}
#cb{
    font-size: 200;
    display: flexbox;
}
#d{
    grid-row: 3;
    grid-column: span 2;
    justify-self: center;

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px;
    grid-gap: 10px;

}
#e{
    grid-row: 4;
    grid-column: span 2;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#da{
    grid-column: 1;
    align-self: center;
    border: 1px solid black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#db{
    grid-column: 2;
    align-self: center;
    border: 1px solid black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dc{
    grid-Column: 3;
    align-self: center;
    border: 1px solid black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px
}
#da-icon{
    width: 20px;
    margin: 5px;
}
#db-icon{
    width: 20px;
    margin: 5px;
}
#dc-icon{
    width: 20px;
    margin: 5px;
}
button{
    background-color: white;
}
