.events-page-container{
    background-color: rgb(247, 247, 247);
}
.event-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.events-page{
    margin: 20px;
    display: flexbox;
    justify-content: center;
}
#groups{
    color: grey;
}
#events{
    color: teal;
    text-decoration: underline;
}
