.navbar{
    max-width: 100%;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 5% 5% 80% 10%;
    background-color: rgb(32, 32, 32);
}
.home{
    grid-column: 1;
    align-self: center;
    justify-self: left;
    font-size: 30;
    color:rgb(255, 60, 42);
    margin: 10px;
}
.profile {
    grid-column: 4;
    align-self: center;
    justify-self: right;
    margin: 10px;
}
.profileList{
    align-self: center;
    justify-self: left;
}
.profile-dropdown {
   margin: 5px;
   display: flex;
justify-content: center;
}
.profile-dropdown > * {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.profileButtonBox {
    position: absolute;
    padding: 0px 0px 0px 0px;
    background-color: white;
    border: 2px solid black;
    right: 10px;
    display: flex;
}
.profile-dropdown > li{
    width: 60px;
    padding: 5px;
}
#buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buttons > *{
    width: 60px;
    display: flex;
    margin: 5px;
}
