.navbar{
    max-width: 99%;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 5% 5% 80% 10%;
}
.home{
    grid-column: 2;
    align-self: center;
    justify-self: left;
}
.profile {
    grid-column: 4;
    align-self: center;
    justify-self: right;
}
.profileList{
    align-self: center;
    justify-self: left;
}
.profile-dropdown {
    position: absolute;
    padding: 0px 0px 0px 0px;
}
.profile-dropdown > li{
    width: 60px;
}
